# Azure Event Hub Configuration
EVENT_HUB_CONNECTION_STRING=YOUR_EVENT_HUB_CONNECTION_STRING_HERE
EVENT_HUB_NAME=YOUR_EVENT_HUB_NAME_HERE
CONSUMER_GROUP=YOUR_CONSUMER_GROUP_HERE

# Citi Bike API Configuration
CITIBIKE_API_URL=https://gbfs.citibikenyc.com/gbfs/en/station_status.json 